
.content {
  position: relative;
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.content__left {
  width: 50%;
  background: #efeee9;
  position: relative;

  @include tablets {
    width: 100%;
  }
}

.content__right {
  width: 50%;
  background: #eeebdf;
  position: relative;

  @include tablets {
    width: 100%;
  }
}

//left
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;

  @include tablets {
    margin-top: 22px;
  }

  &__bg {
    position: absolute;
    top: -108px;
    color: #e6e5e0;
    width: 366px;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include tablets {
      width: 290px;
    }
  }
  &__head {
    position: relative;
    margin-bottom: 35px;
    z-index: 20;

    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 22px;
      height: 5px;
      background: #cacbc8;
      top: 47%;
      left: -45px;
    }

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 22px;
      height: 5px;
      background: #cacbc8;
      top: 47%;
      right: -45px;
    }
  }

  &__photo {
    width: 75%;
    height: auto;
    position: relative;
    margin-bottom: 22px;

    @include tablets {
      width: 470px;
      margin-bottom: 40px;
    }

    @include phones {
      width: 100%;
    }
  }

  &__desc {
    width: 75%;
    margin-bottom: 38px;

    @include tablets {
      width: 56%;
    }

    @include phones {
      width: 88%;
    }
  }

  &__me {
    font-family: 'bernier_regularregular', sans-serif;
    font-size: 35px;
    width: 155px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;

    @include tablets {
      font-size: 30px;
      margin-bottom: 8px;
    }

    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 22px;
      height: 5px;
      background: #cacbc8;
      top: 50%;
      left: 0;

      @include tablets {
        top: 47%;
        left: 10px;
      }
    }

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 22px;
      height: 5px;
      background: #cacbc8;
      top: 50%;
      right: 0;

      @include tablets {
        top: 47%;
        right: 10px;
      }
    }
  }

  &__text {
    font-family: 'robotoregular', sans-serif;
    font-size: 16px;
    line-height: 24px;

    @include tablets {
      font-size: 14px;
    }

    &-desc {
      margin-bottom: 9px;
    }
  }
}

.icon-about_header {
  width: 100%;
  z-index: 1;
  position: relative;
}

//Right
.stack {
  color: $black;

  @include tablets {
    margin-top: 40px;
  }
}

.stack__title {
  font-family: 'bernier_regularregular', sans-serif;
  font-size: 35px;
  line-height: 43px;
  position: relative;
  width: 260px;
  margin: 10px auto 26px;
  text-align: center;

  @include tablets {
    font-size: 30px;
    width: 230px;
  }

  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22px;
    height: 5px;
    background: #cacbc8;
    top: 25%;
    left: -20px;

  }

  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22px;
    height: 5px;
    background: #cacbc8;
    top: 25%;
    right: -20px;
  }
}

.stack__decs {
  margin: 0 39px 47px;

  @include tablets {
    width: 55%;
    font-size: 14px;
  }

  @include phones {
    width: 90%;
  }
}

//map
.map {
  background: url('../images/map.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 650px;
  
  @include phones {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    margin-bottom: 150px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

