
.works-page {
  .triangles__item polygon {
    fill: #faf8f0;
  }
}

.works {
  position: relative;  background: #faf8f0;
}

.works__head {
  position: relative;  display: flex;  justify-content: center;
  height: 172px;
}

.works__title {
  position: relative;  z-index: 20;  display: flex;
  flex-direction: column;  justify-content: center;
  width: 300px;
  text-align: center;

}

.works__title-text {
  @include pseudo-lines(50%, -22px, -22px);
}

.works__lh {
  line-height: 65px;
  text-align: center;
  @include pseudo-lines(33%, -20px, -20px);
}

.works__bg {
  position: absolute;  color: #f0eee7;  top: -56px;
  width: 474px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.icon-works_header {
  width: 100%;
}

.form-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.form-mail {
  position: relative;
  margin-top: 50px;
  margin-bottom: 330px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
}
