
.blog-page {

  .header {
    min-height: auto;
    height: 396px;
  }

  .header__icon-box {
    top: 130px;
    width: 302px;

    .icon-blog_header {
      width: 100%;
    }
  }

  .hero__photo {
    margin-top: 80px;
  }

  .hero__name {
    @include pseudo-lines(50%,20px,20px);
    font-family: 'bernier_regularregular', sans-serif;
    font-size: 63px;
    margin-top: 7px;
  }

  .hero__desc {
    margin-top: -12px;
  }

  .triangles__item polygon {
    fill: #fff;
  }
}

.blog {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  color: $black;
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 60px;
  margin-bottom: 175px;

  &__left {
    position: relative;
    width: 25%;
    text-align: right;
    transition: all .6s;
  }

  &__sidebar {
    transition: all .6s;
  }
  
  &__right {
    position: relative;
    margin-left: 89px;
    width: 60%;
    padding: 0 20px;
  }
}

.blog__sidebar-fixed {
  position: fixed;
  top: 0;
  width: 25%;
}

.blog-modyf {
}

.blog__btn {
  display: none;

  &-link {
    display: block;
    background: #009688;
    width: 40px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 5px ;
    z-index: 50;

    &:hover {
      background: $green;
    }
  }
}

.sidebar-blog {
  margin-left: 20px;
}

.sidebar-blog__item {
  padding: 10px 20px;
  margin-bottom: 6px;
}

.sidebar-blog__active-link {
  color: $green;
  font-family: 'robotobold', sans-serif;
  border-right: 3px solid $green;
  box-sizing: border-box;
  padding-right: 17px;
}

.sidebar-blog__link {
  color: inherit;
  transition: all .5s;

  &:hover {
    color: $green;
  }
}

.articles {
}

.articles__item {
  margin-bottom: 60px;
}

.articles__title {
  font-family: 'bernier_regularregular', sans-serif;
  font-size: 35px;
  line-height: 41px;
  width: 77%;
  margin-bottom: 7px;
}

.articles__date {
  font-family: 'robotoregular', sans-serif;
  color: $green;
  line-height: 41px;
  margin-bottom: 8px;
}

.articles__content {
  position: relative;
}

.articles__decor {
  width: 100%;
  height: 4px;
  background: #f1f1f2;
}

.articles__content-parag {
  margin-bottom: 10px;
}

.articles__content-pic {
  margin: 7px 0 70px;
}



