section.works
    article.works__head
        .works__title
            h2.main-title.works__title-text Мои Работы
        .works__bg
            +icon('works_header')

    article.works__slide
        +slider()

    article.reviews_wrap
        +reviews(init.reviews)
        .form-wrap
            .form-mail
                +form-mail()
