.works
    .works__head
        .works__title
            h2.main-title.works__title-text Мои Работы
        .works__bg
            +icon('works_header')

    .works__slide
        +slider()

    .reviews_wrap
        +reviews
        .form-wrap
            .form-mail
                +form-mail()
