.content
    .content__left
        .about
            .about__bg
                +icon('about_header')
            .about__head
                h1.main-title Обо мне
            .about__photo
                img.about__pic(src='assets/images/hero_big.jpg' alt='')
            .about__desc
                .about__me Кто я
                .about__text
                    p.about__text-desc= init.aboutMe1
                    p.about__text-desc= init.aboutMe2
    .content__right
        .stack
            .stack__title Чем я могу быть вам полезен
            .stack__decs
                p= init.aboutMeLike
            +technology()

.map#map
    .map__content
        .map__menu
            +contacts()
