.blog
    .blog__left.blog_active
        .blog__sidebar
            aside.sidebar-blog
                ul.sidebar-blog__list
                    each item in init.posts
                        li.sidebar-blog__item
                            a.sidebar-blog__link(href=`#${item.hash}`)= item.title
        .blog__btn
            a(href="#").blog__btn-link

    .blog__right
        ul.articles
            each item in init.posts
                li.articles__item(id= item.hash)
                    article
                        h2.articles__title= item.title
                        .articles__date= item.date
                        .articles__content!= item.text
