.blog
    .blog__left.blog_active
        .blog__sidebar
            aside.sidebar-blog
                ul.sidebar-blog__list
                    li.sidebar-blog__item
                        a.sidebar-blog__link(href="#sass"
                        ) Самое важное в SASS

    .blog__right
        ul.articles
            li.articles__item#sass
                article
                    h2.articles__title Самое важное в SASS
