header.header
    .header__bg
        img.header__bg-pic(src="assets/images/mountains.jpg")
    .header__icon-box
        +icon('blog_header')
    .header__socials
        +socials()
    +menu-button()
    +hero('Блог', 'Статьи, которые я написал')
    +triangles()
    +arrow-down()
