+menu-nav
header.header
    .header__bg
        img.header__bg-pic(src="assets/images/mountains.jpg")
    .header__icon-box
        +icon('portfolio_header')
    .header__socials
        +socials()
    +menu-button()
    +hero(init.hero, 'Личный сайт веб разработчика')
    +triangles()
    +arrow-down()
