doctype html
html(lang="ru-RU")
    include components/*.pug
    include ../common/head.pug
    body
        .wrapper
            .maincontent.works-page
                include ../common/header.pug
                .container
                    block content
                    include ../common/block-works.pug
        include ../common/footer.pug