mixin contacts()
    .contacts
        .contacts__title.main-title Контакты
        ul.contacts__list
            li.contacts__item
                i.fa.fa-skype.fa-2x(aria-hidden="true")
                a.contacts__link(href="skype:")= init.skype
            li.contacts__item
                i.fa.fa-envelope.fa-2x(aria-hidden="true")
                a.contacts__link(href="mailto:")= init.mail
            li.contacts__item
                i.fa.fa-phone.fa-2x(aria-hidden="true")
                a.contacts__link(href="tel:${init.mobileInner}")= init.mobile
            li.contacts__item
                +icon('map_marker')
                a.contacts__link(href="#")= init.address

