mixin form-mail()
    form.form-send(action="#" method="POST")
        .form-send__bg
        .form-send__head
            span Связаться со мной
        .form-send__contact
            input.form-send__contact-input#name(type="text" placeholder="Имя")
        .form-send__contact
            input.form-send__contact-input#email(type="email" placeholder="Email")
        .form-send__contact
            textarea.form-send__contact-text#comment(placeholder="Ваше сообщение")
        .form-send__submit
            input.form-send__submit-input(type="submit" value="Отправить")
            input.form-send__submit-input(type="reset" value="Очистить")
        .form__popup
            .form__popup-text Сообщение отправлено
            a(href="#").form__popup-link Закрыть
