mixin menu-nav()
    .menu-nav
        ul.menu-nav__list
            li.menu-nav__item
                a.menu-nav__link(href="works.html") Мои работы
            li.menu-nav__item
                a.menu-nav__link(href="blog.html") Блог
            li.menu-nav__item
                a.menu-nav__link(href="about.html") Обо мне
            li.menu-nav__item
                a.menu-nav__link(href="index.html") Авторизация
