mixin nav-inline()
    -
        var links = [
            ['works.html', 'Мои работы'],
            ['blog.html', 'Блог'],
            ['about.html', 'Обо мне'],
            ['index.html', 'Авторизация']
        ];

    ul.nav-inline
        each link in links
            li.nav-inline__item
                a.nav-inline__link(href= link[0])= link[1]

