mixin reviews(data)
    .reviews
        .works__head.reviews__head
            .works__title
                h2.main-title.works__lh Что обо мне Говорят
            .works__bg
                +icon('about_header')
        ul.reviews__content
            each item in data
                li.reviews__item
                    img.reviews__decor(src="assets/images/symbol.png" alt="Отзывы")
                    p.reviews__text= item.text
                    .reviews__hero
                        img.reviews__hero-photo(src= item.photo alt="Отзывы")
                        .reviews__hero-text
                            .reviews__hero-name= item.name
                            .reviews__hero-post= item.post
