mixin triangles()
    .triangles
        svg.triangles__item(
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 1000 85"
            preserveaspectratio="none")
            polygon.left(points="0,0 0,85 500,85 500,85")
            polygon.right(points="1000,0 1000,85 500,85 500,85")
