
.menu-button {
  position: absolute;
  margin: 0;
  right: 30px;
  top: 28px;
  cursor: pointer;
  z-index: 200;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: -20px;
    top: -20px;
  }

  &__line {
    position: relative;
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background: rgba(#fff, .5);
    margin-bottom: 10px;
    transition: all .5s;
  }

  &:hover {
    .menu-button__line {
      background: #ffffff;
    }
  }
}


