
.stack-list {
  margin-left: 40px;

  @include tablets {
    margin-left: 0;
  }

  &__item {
    margin-bottom: 25px;
  }
}
.technology {

  &__title {
    font-family: 'robotomedium', sans-serif;
    font-size: 28px;


    @include tablets {
      font-size: 20px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    margin: 8px 0 19px -38px;

    @include desktop {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include laptop {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include tablets {
      flex-wrap: nowrap;
      justify-content: center;
    }

    @include phones {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-left: 34px;
    position: relative;

    @include laptop {
      width: 35%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-left: 0;
    }

    @include  tablets {
      margin-left: 37px;
      width: auto;
    }

    @include phones {
      width: 35%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }

  &__name {
    @include centered(both);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    color: $green;
    width: 60%;

  }

  .g-circles {
    fill: none;
    stroke-width: 16;
    .sector {
      transition: all 1s;
    }
  }
}


